FLASK_APP=run.py
FLASK_ENV=development
GOOGLE_OAUTH_CLIENT_ID=get_from_google
GOOGLE_OAUTH_CLIENT_SECRET=get_from_google
OAUTHLIB_RELAX_TOKEN_SCOPE=true
OAUTHLIB_INSECURE_TRANSPORT=true
CSRF_SECRET_KEY=generate_24char_alphastring
SESSION_KEY=generate_24char_alphastring
