{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing white">

      <!-- Three columns of text below the carousel -->
      <div class="row-fluid">

        <div class="span4" style="text-align: center; vertical-align: bottom">
          <h2>{{ content['info_left']['title'] }}</h2>
              {{ content['info_left']['content']|safe }}
        </div><!-- /.span6 -->


        <div class="span4 hidden-phone"
          style="background-image:
            url('//storage.googleapis.com/apex-assets/APEXlogo_transparent-smaller.png');
            height: 160px;
            width: 350px;
            padding-right: 30px;
            background-position: center;
            background-size: cover;" >
        </div>

        <div class="span4" style="text-align: center; vertical-align: bottom">
          <h2>{{ content['info_right']['title'] }}</h2>
              {{ content['info_right']['content']|safe }}
        </div><!-- /.span4 -->


      </div><!-- /.row -->

</div>

{% endblock content %}
