{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: auto; }
        .marketing .span12 {margin-top: 90px; }
        .table th {font-weight: bolder; color: #FCFCFC; }
        .table td {font-weight: normal;}

    	.table-striped tbody > tr:nth-child(odd) > td,
		.table-striped tbody > tr:nth-child(odd) > th {
			  background-color: #2B2828;
		}
    </style>
{% endblock %}

{% block content %}

<div class="container marketing grey">
  <div class="row-fluid">
    <div class="span12">
    <h2>Line Status</h2>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th class="span1">Line</th>
            <th class="span2">Age (days)</th>
            <th class="span4">Beer</th>
            <th class="span2">Bartender</th>
          </tr>
        </thead>
        <tbody>
          {% for key in linestatus_age.keys() %}
            {% if linestatus_age[key] > 14 %}
              <tr class="error">
            {% else %}
              <tr>
            {% endif %}
                <td>{{ key }}</td>
                <td>{{ linestatus_age[key] }}</td>
                <td>{{ linestatus_beer[key] }}</td>
                <td>{{ linestatus_bartender[key] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
 </div>

{% endblock content %}

{% block tail_script %}

{% endblock %}
