{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: auto; }
        .marketing .span12 {margin-top: 90px; }
        .table th {font-weight: bolder; color: #FCFCFC; }
        .table td {font-weight: normal;}

    	.table-striped tbody > tr:nth-child(odd) > td,
		.table-striped tbody > tr:nth-child(odd) > th {
			  background-color: #2B2828;
		}
    </style>
{% endblock %}

{% block content %}

<div class="container marketing grey">
  <div class="row-fluid">
    <div class="span12">
    <h2>{{ content['faq']['title'] }}</h2>

      {{ content['faq']['content']|safe }}

    </div>
  </div>
 </div>

{% endblock content %}

{% block tail_script %}

{% endblock %}
