    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

        <!-- Item 1 -->
        <div class="item active">
          <img src="//storage.googleapis.com/apex-assets/apex_50taps.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>50 amazing beers on tap</h1>
              <p class="lead">Always something new to try</p>
              <a class="btn btn-large btn-primary" href="/menu">What's on tap?</a>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="item">
          <img src="//storage.googleapis.com/apex-assets/apex_beermenu.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Kick-ass digital beer menu</h1>
              <p class="lead">Live, accurate and legible</p>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="item">
          <img src="//storage.googleapis.com/apex-assets/apex_beergarden.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Giant beer garden</h1>
              <p class="lead">Drink in the sun or shade</p>
            </div>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="item">
          <img src="//storage.googleapis.com/apex-assets/apex_bottles.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Over 250 of the best bottles</h1>
              <p class="lead">From around the world</p>
                <a class="btn btn-large btn-primary" href="/menu">Bottle Menu</a>
            </div>
          </div>
        </div>


        <!-- Item 5 -->
        <div class="item">
          <img src="//storage.googleapis.com/apex-assets/apex_bikeparking.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bring your bike or motorcycle</h1>
              <p class="lead">Free loaner U-locks and off street parking</p>
            </div>
          </div>
        </div>

        <!-- Item 6 -->
        <div class="item">
          <img src="//storage.googleapis.com/apex-assets/apex_pinball.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Pinball</h1>
              <p class="lead">Light up flipper tables and mirrors on the ceiling</p>
            </div>
          </div>
        </div>


      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

    </div>
